<html>
    <head>
        <script src="/js/bs.js"></script>
        <link rel="stylesheet" type="text/css" href="css/bs3.css">
    </head>
    <body onload="removeElement()">
        <center>
         <form method="post" action="page3">
            <div class="player_container">
            <div class="player1">
            <table id="mytable">
                <tr>
                <th> </th>
                <%board.grid.size.times do |v|%>
                <th><%=v%></th>
                <%end%>
                </tr>
           
                <%board.grid.each_with_index do |v, i|%>
                    <tr>
                    <th><font size="2"><%=i%></th>
                        <%v.each_with_index do |k, o|%>
                            <td class='grid_cell'><input type='radio' class='grid_button' id="gridbutton<%="#{i}#{o}"%>" name="grid_cell[]" value='<%=[i, o]%>' required>
                            <label for="gridbutton<%="#{i}#{o}"%>"><%=k%></label></td>
                        <%end%>
                    </tr>
                <%end%>  

            
            </div>
            </table>
            </div>
            <div class="enemyboard">
            <table id="enemytable">
                <tr>
                <th> </th>
                <%enemyboard.grid.size.times do |v|%>
                <th><%=v%></th>
                <%end%>
                </tr>
           
                <%enemyboard.grid.each_with_index do |v, i|%>
                    <tr>
                    <th><%=i%></th>
                        <%v.each_with_index do |k, o|%>
                            
                             <td class='grid_cell'><input type='radio' class='enemygrid_button' id="enemygrid_button<%="#{i}#{o}"%>" name="enemygrid_cell[]" value='<%=[i, o]%>' required>
                            <label for="enemygrid_button<%="#{i}#{o}"%>"><%=k%></label></td>
                        <%end%>
                    </tr>
                <%end%>    
                </div>

            </table>  
            <div class="hitormiss">

                
                    <%=hitter%>
                

                <%=game_ender(board, enemyboard)%>

            </div>          

            <div class="coordinates">
            <%# <font color="red"><h4> row<br>coordinate</h4></font>
                <input type="number" name="row" placeholder="row" min="0" required>
                 <font color="red"><h4>column<br>coordinate</h4></font>
                <input type="number" name="col" placeholder="column" min="0" required> %>
                 <font id="HV" color="red"><h4>horizontal<br>vertical</h4></font>
                <select name="pos" id="pos">
                    <option id="pos"  value="horizontal">Horizontal</option>
                    <option id="pos"  value="vertical">Vertical</option>
                </select>
                    <br>
                <input type='hidden' name='ship_num' value='<%=ship_num%>' id="ship_num">
                <font id="err"color="red"><%=err%></font>
                <font id="fire_err"color="red"><%=fire_err%></font>

                <br><br>
                <button class=" button">Enter</button>
            </div>

        </center>

       
        </form>

           <div class="stopwatch" id="stopwatch">
                <h2><font color="red"><span id="seconds">00</span>:<span id="tens">00</span></h2></font>
                <button onclick="stopWatch()"id="start">Start</button>
                    <br>
                    <br>
                <button onclick="stopWatch()" id="stop">Stop</button>
                    <br>
                    <br>
                <button onclick="stopWatch()" id="reset">Reset</button>
            </div>


    </body> 

</html>   










